APP_PORT=9089
DATABASE_HOST=localhost
DATABASE_NAME=auth_api
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgresql
NODE_ENV=development

JWT_SIGN_KEY=c10b8002b6f42b1032aaeaa17957baf52e408f6793c3e91cdf6